[user]
    	name = Philmaweb
    	email = philmaweb@gmail.com
[color]
	ui = true
[core]
	editor = vim
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
